<div id="wrapper" style="height: fit-content !important;">

    {{> navbar_admin}}

    {{> admin_leftbar}}

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-4">Carros Disponíveis</h4>

                            <div class="widget-chart-1">
                                <div class="widget-chart-box-1 float-left" dir="ltr">
                                    <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 "
                                        data-bgColor="#F9B9B9" value="{{context.carCatalog.length}}" data-skin="tron"
                                        data-angleOffset="180" data-readOnly=true data-thickness=".15" />
                                </div>

                                <div class="widget-detail-1 text-right">
                                    <h2 class="font-weight-normal pt-2 mb-1">{{context.carCatalog.length}}</h2>
                                    <p class="text-muted mb-1">Carros</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-4">Reservas na fila</h4>

                            <div class="widget-chart-1">
                                <div class="widget-chart-box-1 float-left" dir="ltr">
                                    <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050"
                                        data-bgColor="#F9B9B9" value="{{context.filaZero.length}}" data-skin="tron"
                                        data-angleOffset="180" data-readOnly=true data-thickness=".15" />
                                </div>
                                <div class="widget-detail-1 text-right">
                                    <h2 class="font-weight-normal pt-2 mb-1">{{context.filaZero.length}}</h2>
                                    <p class="text-muted mb-1">Reservas na fila</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-3">Modificar Catálogo</h4>
                            <h6><a href="add-car">
                                    Link Anyca
                                </a></h6>
                            <h6>Nosso Banco</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="/admin/{{context.myself.myObj}}/fila" class="dropdown-item">Abrir Fila</a>
                                </div>
                            </div>

                            <h4 class="header-title mt-0 mb-3">Fila de Reservas</h4>

                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>Carro</th>
                                            <th>Whatsapp Cliente</th>
                                            <th>Responsável</th>
                                            <th>Criado dia</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each context.filaZero}}
                                        <tr>
                                            <td>{{@index}}</td>
                                            <td>{{this.data.nome}}</td>
                                            <td>{{this.data.carro}}</td>
                                            <td>{{this.data.telefone}}</td>
                                            <td>{{this.data.responsavel}}</td>
                                            <td>{{purgatorio this.born}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{#each context.equipe}}
                    <div class="col-xl-3 col-md-6">
                        <div class="card-box widget-user">
                            <div class="media">
                                <div class="avatar-lg mr-3">
                                    <img src="{{this.image}}" class="img-fluid rounded-circle" alt="user">
                                </div>
                                <div class="media-body overflow-hidden">
                                    <h5 class="mt-0 mb-1">{{this.nome}}</h5>
                                    {{#if this.online}}
                                    <p class="text-muted mb-2 font-13 text-truncate">Online!</p>
                                    {{/if}}
                                    <small class="text-warning"><b>{{this.pos}}</b></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{> footer_admin}}

    </div>


</div>