{{> navbar}}
<div class="container">
    <div class="container">
        <div class="col lg-5 flexv-justify-center md-12">
            <div class="container container-fluid">
                <nav aria-label="breadcrumb py-2">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/home">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="#">Detalhes</a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="">
                <div class="float-left px-4"><img width="60" src="/images/svg/{{carro.brand}}.svg"></img></div>
                <div class="float-left text-white">
                    <h1>{{carro.brand}} {{carro.model}}</h1>
                </div>
                <div class="container">
                    <a data-w-id="46644e54-5805-3216-447a-8c379a18a0d0" href="#"
                        class="float-right button-primary lg-md-sm-margin-right xs-margin-bottom w-inline-block" onclick="popup('{{carro.model}}','{{carro.brand}}','{{carro.slug}}')">
                        <div class="button-primary-text">Alugue agora!</div>
                        <div style="opacity:0;display:block;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                            class="button-primary-text for-hover">let&#x27;s go <span class="fa margin-left"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<div class="section is-dark">
    <div class="col col-10 container container-fluid">
        <div data-animation="slide" data-duration="500" data-infinite="1" class="margin-bottom size w-slider">
            <div class="w-slider-mask">
                {{#unless carro.auxImg}}
                <div class="slide add-bg1 w-slide" style="background-image: url('{{ carro.image }}');"></div>
                {{/unless}}
                {{#each carro.auxImg}}
                <div class="slide add-bg1 w-slide" style="background-image: url('{{ this }}');"></div>
                {{/each}}
            </div>
            <div class="w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="w-slider-nav w-round"></div>
        </div>
        <h2 class="size-h2 size-h2-xs margin-bottom">{{carro.brand}} {{carro.model}}</h2>
        <div class="col col-4">
            <div class="text-small low-text-contrast margin-bottom-small">Preço da diária</div>
            <div class="is-bold size-h3">¥{{carro.offers.price}}</div>
        </div>
        <div class="col col-12">
            <div data-duration-in="300" data-duration-out="100" class="c-tab2 w-tabs">
                <div class="c-tab2__menu flexh-justify-start w-tab-menu">
                    <a data-w-tab="Tab 1" class="c-tab2__link is-white w-inline-block w-tab-link w--current">
                        <div>Informações Principais </div>
                    </a>
                    <a data-w-tab="Tab 2" class="c-tab2__link is-white w-inline-block w-tab-link">
                        <div>Observações</div>
                    </a>
                </div>
                <div class="c-tab2__content is-dark w-tab-content">
                    <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                        <div class="col lg-12 no-padding-lr">
                            <div data-delay="0" class="c-accordion2 is-dark w-dropdown">
                                <div class="c-accordion2__toggle is-white w-dropdown-toggle">
                                    <div class="c-accordion__title"><strong>Taxa de serviço</strong></div>
                                    <div class="w-icon-dropdown-toggle"></div>
                                </div>
                                <nav class="c-accordion2__content is-dark w-dropdown-list">
                                    <div class="text-block">{{carro.taxa}}</div>
                                </nav>
                            </div>
                            <div data-delay="0" class="c-accordion2 is-dark w-dropdown">
                                <div class="c-accordion2__toggle is-white w-dropdown-toggle">
                                    <div class="c-accordion__title"><strong>Seguro</strong><br>
                                    </div>
                                    <div class="w-icon-dropdown-toggle"></div>
                                </div>
                                <nav class="c-accordion2__content is-dark w-dropdown-list">
                                    <div class="text-block">{{this.seguro}}</div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Tab 2" class="w-tab-pane">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{> footer}}